<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>部署一覧</title>
</head>
<body>
<h3>部署一覧</h3>
<table border="1">
<thead>
<tr>
<th>ID</th>
<th>名前</th>
<th></th>
</tr>
</thead>
<tbody>
<tr th:each="division: ${divisions}">
<td th:text="${division.id}"></td>
<td th:text="${division.name}"></td>
<td>
<form th:action="@{'/divisions/'}" method="post">
<input type="hidden" name="divisionId" th:value="${division.id}"/>
<input type="submit" name="edit" value="編集"></input>
<input type="submit" name="cancel" value="削除"></input>
</form>
</td>
</tr>
</tbody>
</table>
<form th:action="@{'/divisions/'}" method="post">
<input type="submit" name="add" value="新規追加"/><br/>
</form>
</body>
</html>